@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

/* common style */
* {
    margin: 0;
    padding: 0;
}

/* satar header section */
.signin {
    color: #006A50;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    border: 1px solid #006A50;
    margin-bottom: 24px;
}

.header-wrraper {
    background: #F5F5F5;
    width: 100%;
    height: 100%;
}

.header-wrraper .navber {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header-wrraper .banner-container {
    border-radius: 24px;
    background: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    padding: 60px 100px;
    margin: 0 auto;
    gap: 24px;
}

.header-wrraper .content h5 {
    color: rgba(14, 14, 14, 0.50);
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;

}

.header-wrraper .content p {
    color: #0E0E0E;

    font-family: "Fira Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-primary {
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #006A50;
    border-style: none;
    margin-top: 24px;
    color: #FFF;
    font-size: 18px;
}

/* start of pillars bangladesh */
main {

    width: 80%;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    background: #F5F5F5;
    margin: 0 auto;

    padding: 20px;
    margin-top: 30px;

}


.container .box-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    margin: 0 auto;

}

.container .Innovation {

    display: flex;
    width: 254px;
    /* height: 196px; */
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    background: #FFF;


}

.container .Innovation h2 {
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container .Innovation p {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* start vision of future */
.vision-of-future .card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}

.vision-of-future .card-section h1 {
    color: #0E0E0E;

    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.vision-of-future .card-section p {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vision-of-future .card-box1 {
    text-align: justify;
    width: 307px;
    height: 221px;
    border-radius: 16px;
    padding: 20px;
    border: 0px solid #5490F5;
    background: rgba(84, 144, 245, 0.20);
}

.vision-of-future .card-box2 {
    text-align: justify;
    width: 307px;
    height: 221px;
    border-radius: 16px;
    padding: 20px;
    border: 0px solid #09A15C;


    background: #C6E4D6;
}

.vision-of-future .card-box3 {
    text-align: justify;
    width: 307px;
    height: 221px;
    border-radius: 16px;
    padding: 20px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
}

.vision-of-future .section-title {
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.vision-of-future .description {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.learn-more1 {
    border-radius: 8px;
    background: #5490F5;
    color: #FFF;
    padding: 11px 20px;
    border-style: none;
    margin-top: 15px;
}

.learn-more2 {
    border-radius: 8px;
    background: #09A15C;
    color: #FFF;
    padding: 11px 20px;
    border-style: none;
    margin-top: 15px;
}

.learn-more3 {
    border-radius: 8px;
    background: #FFC239;
    color: #FFF;
    padding: 11px 20px;
    border-style: none;
    margin-top: 15px;
}

.bangladesh-bd {
    display: flex;
    padding: 48px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    background-image: url("../assets/quote-bg.png");

    background-repeat: no-repeat;
    margin-top: 32px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    background: #FFF;
}

/* recent news part */
.bangladesh-launches .box1 {
    display: flex;
    justify-content: space-around;
    width: 70%;

    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    box-shadow: 4px 4px 8px gray;
    text-align: justify;

}

.bangladesh-launches .box2 {
    display: flex;
    display: flex;
    justify-content: space-around;
    width: 70%;

    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    box-shadow: 4px 4px 8px gray;
    text-align: justify;

}

/* donate section start */
.donate-money {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.donate-today h1 {
    color: #0E0E0E;

    text-align: center;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
}

.donate-today p {
    color: rgba(14, 14, 14, 0.70);

    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.donate-money h1 {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    background: #FFF;
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40px;
}

.money {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    background: #C6E4D6;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40px;
}

.donate input[type="text"] {
    /* display: flex; */
    width: 1032px;
    padding: 20px 40px;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    gap: 24px;
    /* border-bottom: 1px solid rgba(14, 14, 14, 0.15); */

    background: #FFF;
    margin-top: 32px;
    text-align: center;
}

.Done-Now {
    margin-top: 32px;
    color: #FFF;

    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.10);

    background: #006A50;
    padding: 17px 34px;
}