@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
    background: #F5F5F5;
}

/* common style */
* {
    margin: 0;
    padding: 0;
}

/* satar header section */
.signin {
    color: #006A50;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    border: 1px solid #006A50;
    margin-bottom: 24px;
}


.header-wrraper .navber {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header-wrraper .banner-container {
    border-radius: 24px;
    background: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1080px;
    padding: 80px 100px;
    margin: 0 auto;
    gap: 24px;
}

.header-wrraper .content h5 {
    color: rgba(14, 14, 14, 0.50);
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;

}

.header-wrraper .content p {
    color: #0E0E0E;

    font-family: "Fira Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-primary {
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #006A50;
    border-style: none;
    margin-top: 24px;
    color: #FFF;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #FFC239;
}

/* start of pillars bangladesh */
main {

    width: 1280px;

    padding: 60px 100px;
    margin: 0 auto;
}

/* Pillars of "Bangladesh 2.0" */
.pillars h1 {
    color: #0E0E0E;

    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}

.bangladesh-2 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.common-box {
    display: flex;
    width: 302px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    background: #FFF;
}

.common-box h3 {
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.common-box p {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.common-box img {
    width: 64px;
    height: 64px;
}

/* start vision of future */

.card-section {
    padding: 0 auto;
}

.vision-of-future .card-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 24px;

}

.vision-of-future .card-section h1 {
    color: #0E0E0E;

    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 80px;

}

.vision-of-future .card-section p {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.vision-of-future .card-box1 {
    text-align: justify;
    width: 347px;

    border-radius: 16px;
    padding: 20px;
    border: 0px solid #5490F5;
    background: rgba(84, 144, 245, 0.20);
}

.vision-of-future .card-box2 {
    text-align: justify;
    width: 347px;

    border-radius: 16px;
    padding: 20px;
    border: 0px solid #09A15C;


    background: #C6E4D6;
}

.vision-of-future .card-box3 {
    text-align: justify;
    width: 347px;

    border-radius: 16px;
    padding: 20px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
}

.vision-of-future .section-title {
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.vision-of-future .description {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.learn-more1 {
    border-radius: 8px;
    background: #5490F5;
    color: #FFF;
    padding: 11px 20px;
    border-style: none;
    margin-top: 15px;
}

.learn-more2 {
    border-radius: 8px;
    background: #09A15C;
    color: #FFF;
    padding: 11px 20px;
    border-style: none;
    margin-top: 15px;
}

.learn-more3 {
    border-radius: 8px;
    background: #FFC239;
    color: #FFF;
    padding: 11px 20px;
    border-style: none;
    margin-top: 15px;
}

.learn-more1:hover {
    background-color: aqua;
}

.learn-more2:hover {
    background-color: aqua;
}

.learn-more3:hover {
    background-color: aqua;
}

.opation {
    background: #FFF;
    border-radius: 18px;

}

.bangladesh-bd {
    display: flex;
    padding: 48px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    margin-top: 32px;
    border-radius: 18px;
    border: 2px solid rgba(14, 14, 14, 0.15);




}

.bangladesh-bd h1 {
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.bangladesh-bd p {
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* recent news part */
.bangladesh-launches .box1 {
    display: flex;
    justify-content: space-between;
    width: 1184;
    padding: 48px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    box-shadow: 4px 4px 8px white;
    background-color: #FFF;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;

}

.news-satellite img {
    width: 134px;
    height: 40px;
    margin-bottom: 12px;

}

.span {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.bangladesh-launches .box2 {
    display: flex;
    justify-content: space-between;
    width: 1184;
    padding: 48px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    box-shadow: 4px 4px 8px white;
    text-align: justify;
    gap: 32px;
    border-radius: 24px;
    background-color: #FFF;

}



.bangladesh-launches .news-satellite h1 {
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

.bangladesh-launches .news-satellite p {
    color: rgba(14, 14, 14, 0.70);

    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}

.box1-left img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.box2-right img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

/* donate section start */
.donate-money {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.donate-today h1 {
    color: #0E0E0E;

    text-align: center;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
}

.donate-today p {
    color: rgba(14, 14, 14, 0.70);

    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.donate-money button {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    background: #FFF;
    color: rgba(14, 14, 14, 0.80);

    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40px;
}

.donate-money button.money {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    background: #C6E4D6;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40px;
}


.donate input[type="text"] {
    color: rgba(14, 14, 14, 0.30);

    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 1032px;
    padding: 20px 40px;

    justify-content: center;
    gap: 24px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);

    background: #FFF;
    margin-top: 32px;
    text-align: center;
}

.btn {
    align-items: center;
    flex-direction: column;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.Done-Now:hover {
    background-color: #FFC239;
}

.Done-Now {
    margin-top: 32px;
    color: #FFF;

    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.10);

    background: #006A50;
    padding: 17px 34px;

}

/* star subscribe section */
.newsletter {
    border-radius: 24px;
    background: #C6E4D6;
    display: flex;

    padding: 80px 100px;
    justify-content: center;
    align-items: center;

}

.newsletter h1 {
    color: #0E0E0E;

    text-align: center;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.newsletter p {
    color: rgba(14, 14, 14, 0.70);

    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.newsletter h3 {
    color: rgba(14, 14, 14, 0.70);

    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}

.input-text {
    display: flex;
    align-items: center;
    gap: 0;
}

.subscribe-title .input-text input {

    border-radius: 8px 0px 0px 8px;
    background: #FFF;

    width: 600px;
    padding: 18px 40px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    border-style: none;
    color: rgba(14, 14, 14, 0.30);
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-title .Subscribe {
    background-color: #006A50;
    padding: 16px 40px;
    border-radius: 0px 8px 8px 0px;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 40px;

}

.subscribe-title .Subscribe:hover {
    background-color: brown;
}

/* start footer part */
footer {
    background: #FFF;

    display: flex;
    padding: 50px 160px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;

}

.footer-section-title {
    color: #0E0E0E;

    font-family: "Fira Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;

}

.social-icon {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 23px;
}

.border {
    width: 1122px;
    height: 1px;
    background: rgba(14, 14, 14, 0.10);


}

.social-icon a img {
    width: 24px;
    height: 24px;
}